# dependencies
/node_modules

# next.js build output
/.next
/out
next-env.d.ts

# typescript
*.tsbuildinfo

# production
/build
/dist

# env / secrets
.env
.env*.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# os
.DS_Store
